<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="WUV">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./public</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./migrations</directory>
                <directory>./data</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>